@import "./reset.css";

:root {
    --app-dark-bg: #1a1d28;
    --app-red: #ff3c57;
    --app-green: #33ab4e;
    --app-purple: #833cff;
    --app-orange: #ff833c;
    --app-blue: #3c57ff;
    --app-blue-hover: #364ee6;
}
    
body {
    background-color: var(--app-dark-bg);
}
    
.container {
    width: min(100% - 30px, 1280px);
    margin-inline: auto;
}

/* header */
header {
    align-items: center;
    background-color: #2069e0;
    padding: 10px;
    text-align: center;
    color: #fff;
    box-shadow: #181a1f;
  }

.header {
    display: flex;
    justify-content: space-between;
}
h1 {
    margin-left: 10px;
    font-size: 25px;
}

ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

header ul li {
    margin-left: 25px;
    margin-top: 5px;
}
/* header */

.movielist {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    padding: 50px 20px;
}

.moviecard p, .moviecard h2{
    color: #fff;
    text-align: center;
}

.moviesearch {
    margin-top: 50px;
    margin-left: 22px;
    height: 45px;
    width: 400px;
    background-color: rgb(169, 167, 177);
    border-radius: 5px 5px 0px 0px;
    padding: 5px;
    font-size: 28px;
}

.suggestions {
    position: absolute;
    z-index: 1;
    background-color: #d3d4d6;
    margin-left: 22px;
    overflow: auto;
    max-height: 400px;
}

.suggestions::-webkit-scrollbar {
    width: 10px;
}


.suggestions::-webkit-scrollbar-track {
    background: #f1f1f1;
}


.suggestions::-webkit-scrollbar-thumb {
    background: #888;
}

.suggestions div {
    padding: 10px;
    width: 400px;
    border-radius: 5px;
    cursor: pointer;
}

.suggestions div:hover {
    background-color: #2069e0;
    color: #fff;
    border-radius: 0;
}